{#
/**
 * @file
 * Default theme implementation for the completion message.
 *
 * Available variables:
 * - order_entity: The order entity.
 * - payment_instructions: The payment instructions, if provided.
 *
 * @ingroup themeable
 */
#}
<div class="checkout-complete">
    
    <h2>Thank You for Your Order</h2>
    <p class="transaction-messages">{{ 'The transaction will be completed after this order is confirmed. You will receive confirmation and your new license(s) by email.' }}</p>
    <p class="order-number">{{ 'Your order number is: @number.'|t({'@number': order_entity.getOrderNumber}) }}</p>

    <h2>Download Your Software</h2>
    <a class="download-your-software" href="/downloads/current">Get Started, Download Your Software</a>
    
    <h2>Sign up for Our Newsletter</h2>
    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
        <form action="https://wavemetrics.us11.list-manage.com/subscribe/post?u=f2f3a03e845b5096caef857e1&amp;id=2418e39183" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
                <input type="email" value="" name="EMAIL" class="subscribe-email" id="mce-EMAIL" placeholder="email address" required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                    <input type="text" name="b_f2f3a03e845b5096caef857e1_2418e39183" tabindex="-1" value="">
                </div>
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="subscribe-button">
            </div>
        </form>
    </div>
    <!--End mc_embed_signup-->
    
    <a class="arrow-left back-button" href="/" title="{{ 'Home'|t }}" rel="home" id="Order-Complete-Go-Back">Go Back to WaveMetrics</a>

    {% if payment_instructions %}
        <div class="checkout-complete__payment-instructions">
            <h2>{{ 'Payment instructions'|t }}</h2>
            {{ payment_instructions }}
        </div>
    {% endif %}
    
    <div class="clearit"></div>
    
</div>
